h1 {
  color: rgb(255, 255, 255);
  font-style: italic;
  font-size: xx-large;
  text-align: center;
}body {
  background-color: black;
}h2 {
  color: beige;
  font-size: x-large;
}
h3 {
  color: beige;
  font-size: x-large;
}
p {
  color: azure;
}